
@font-face {
	font-family:"Roboto-Black";
	src: url('../fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
	font-family:"Roboto-Bold";
	src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family:"Roboto-Regular";
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
	font-family:"Raleway-Black";
	src: url('../fonts/Raleway/Raleway-Black.ttf');
}
@font-face {
	font-family:"Raleway-Bold";
	src: url('../fonts/Raleway/Raleway-Bold.ttf');
}
@font-face {
	font-family:"Raleway-Bold";
	src: url('../fonts/Raleway/Raleway-Regular.ttf');
}